<link href="/static/main.css" type="text/css" rel="stylesheet" />
<div>
    <div class="selection-split selection-left">
        <div class="selection-centre-left">
            <button onclick="location.href='weekGraphs'" class = "selection-centre-left-button">Enter Admin Area</button>
        </div>
      </div>
      
      <div class="selection-split selection-right">
        <div class="selection-centre-right">
            <button onclick="location.href='home'" class = "selection-centre-right-button">Enter Employee Area</button>
        </div>
      </div>

      <script>

      </script>
</div>