{%extends "preLoginBase.html"%}
{%block content%}
{% include '_messages.html' %}
{% include '_formhelpers.html' %}
{% from "_formhelpers.html" import render_field %}

<div class="container">
  <div class="row">
    <div class="col-xl">
    <form action="" method="post" name="employee">
        {{ form.hidden_tag() }}
        <p>
        <h6 class="Email"></h6>
        {{ render_field(form.emailEmployee, class="form-control")}}
        </p>

        <br></br>
        
        <p>
        <h6 class="Password"></h6>
        {{ render_field(form.passwordEmployee, class="form-control")}}
        </p>

        <br></br>

        <p><input type="submit"></p>
        <br></br>
    </form>
</div>
</div>
<p>New Employee? <a href="{{ url_for('EmployeeRegistration') }}">Click to Register!</a></p>


{% endblock %}
