{%extends "base.html"%}
{%block content%}
<!--Grid Layout-->
<div class ="container movies">
<div class="row">
  <div class="col-sm-8">

  <figure>
  <h3 class = "movies-title">Mortal Kombat</h3>

<!--Embedded Trailers-->
  <iframe width="560" height="315" src="https://www.youtube.com/embed/NYH2sLid0Zc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <figcaption>
  	<!--Buttons-->
  	  <button onclick="location.href='showtimes'" class="btn btn-outline-secondary btn-sm">View Showtimes</button>
  	    <button onclick="location.href='bookingsMK'" class="btn btn-outline-secondary btn-sm">Book Now!</button><br>

  	  <!--Movie Details-->
  	<h3>More information about</h3>
  	<p> Cast: Josh Lawson, Jessica McNamee, Hiroyuki Sanada<br>
  		Genre: Fantasy/Action<br>
  		Director: Simon McQuoid<br>
  		Production: 2021<br>
  		Runtime: 1h 45min <br>
  		Age Restrictions: R <br>
  		Showing In: Theater 1<br>
  	</p>

  	</figcaption>
  </figure>
</div>
</div>






{% endblock %}
